
@{
    ViewBag.Title = "End Of Shift Data";
}

<h2>End Of Shift Data</h2>



<div id="endOfShiftDataWellford">
    <div id="matrixDivWellford">
        <input type="hidden" id="formulationId" />
        <input type="hidden" id="rmUse" />
        <table border="1" cellpadding="10">
            <tr>
                <td></td>
                <td><b>TPO</b></td>
                <td><b>Geomembrane</b></td>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>MaterialLoaded Into system (<span id="UoML"></span>)</b></td>
                <td><input type="text" id="WellfordTPO1" disabled /></td>
                <td><input type="text" id="WellfordGeomembrane1" disabled /></td>
                <td><input type="text" id="WellfordTotal1" disabled /></td>
                </tr>
            <tr>
                <td><b>Material Processed (<span id="UoML"></span>)</b></td>
                <td><input type="text" id="WellfordTPO2" disabled /></td>
                <td><input type="text" id="WellfordGeomembrane2" disabled /></td>
                <td><input type="text" id="WellfordTotal2" disabled /></td>
                </tr>
            <tr>
                <td><b>Compatilizer Used  (<span id="UoML"></span>)</b></td>
                <td><input type="text" id="WellfordTPO3" disabled /></td>
                <td><input type="text" id="WellfordGeomembrane3" disabled /></td>
                <td><input type="text" id="WellfordTotal3" disabled /></td>
            </tr>
           <tr>
                <td><b>Purge / Scrap  (<span id="UoML"></span>)</b></td>
                <td><input type="text" id="WellfordTPO4" disabled /></td>
                <td><input type="text" id="WellfordGeomembrane4" disabled /></td>
                <td><input type="text" id="WellfordTotal4" disabled /></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
            <tr>
                <td colspan="2"><b>Down Time (min)</b></td>
                <td><input type="text" id="WellfordTPO5" disabled /></td>
                <td><input type="text" id="WellfordGeomembrane5" disabled /></td>
                <td><input type="text" id="WellfordTotal5" disabled /></td>
            </tr>
        </table>
    </div>
    </div>
