@{
    ViewBag.Title = "Home Page";
}
 

<div class="row" style="">
    <img src="~/Content/images/FIRESTONE%20LOGO%20JPEG.jpg" style="width: 500px; display: block; margin-left: auto; margin-right: auto" />
    <br /><br /><br />
</div>