<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TPOEntities"
         connectionString="metadata=res://*/TPO.Entity.Data.csdl|res://*/TPO.Entity.Data.ssdl|res://*/TPO.Entity.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eimagine-sql14.eimagine.local;initial catalog=TPODevHosted;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SecurityService"
         connectionString="data source=eimagine-sql14.eimagine.local;initial catalog=TPODevHosted;integrated security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>