@model TPO.Web.Models.ProductionEntryViewModel

@if (Model.ProductionLineId > 0)
{
    <table id="dgReworkProd" class="easyui-datagrid"></table>

    <div id="dlgRwProdEdit" class="easyui-dialog" title="Update Production Entry" data-options="iconCls:'icon-save'" style="width:550px;height:400px;padding:10px">
        <table class="col-lg-offset-2">
            <tr>
                <td>
                    <input id="rwID" type="hidden">
                    <input id="rwPlantID" type="hidden">
                    <input id="rwWorkOrderID" type="hidden">
                    <input id="rwTypeID" type="hidden">
                    <input id="rwShiftID" type="hidden">
                    <input id="rwProdDate" class="easyui-datebox" type="hidden" />
                    <input id="rwDateEntered" class="easyui-datebox" type="hidden" />
                    <input id="rwLastModified" class="easyui-datebox" type="hidden" />
                    <input id="rwEnteredBy" type="hidden">
                    <input id="rwModifiedBy" type="hidden">
                </td>
            </tr>
            <tr id="productionDateDT">
                <td>
                    <label>Production Date:</label>
                </td>
                <td>
                    <input id="prodDateDT" class="easyui-datebox" style="width:100px">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Shift:</label>
                </td>
                <td>
                    <input id="shiftTypeDTSelection" class="easyui-combogrid" style="width:100px;" data-options="
                    panelWidth: 500,
                    loadMsg:'Loading',
                    idField: 'Id',
                    textField: 'Code',
                    url: '/ProductionShiftType/GetAllShiftTypeResult',
                    method: 'get',
                    columns: [[
                    {field:'Code',title:'Component',width:20},
                    {field:'ShortDescription',title:'Component',width:150}
                    ]],onSelect: shiftTypeDTSelected,
                    fitColumns: true">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Occurence:</label>
                </td>
                <td>
                    <input id="occuredDate" class="easyui-datetimebox style=" width:150px">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Time (min):</label>
                </td>
                <td>
                    <input id="timeDT" type="number" class="easyui-numberbox" data-options="min:0,precision:0" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Downtime Type:</label>
                </td>
                <td>
                    <input id="downTimeTypeSelection" class="easyui-combogrid" style="width:120px;" data-options="
                    loadMsg:'Loading',
                    idField: 'ID',
                    textField: 'Description',
                    url: '/TPODownTimeEntry/GetAllDownTimeTypeResult',
                    method: 'get',
                    columns: [[
                    {field:'Description',title:'Type',width:60}
                    ]],onSelect: downTimeTypeSelected,
                    fitColumns: true">
                </td>
            </tr>
            <tr id="sectionOfLine">
                <td>
                    <label id="sectionLabel"></label>
                </td>
                <td>
                    <input id="sectionOfLineSelection" class="easyui-combogrid" style="width:200px;" data-options="
                    loadMsg:'Loading',
                    idField: 'Id',
                    textField: 'Description',
                    method: 'get',
                    columns: [[
                    {field:'Description',title:'Type/Reason',width:100}
                    ]],onSelect: sectionOfLineSelected,
                    fitColumns: true">
                </td>
            </tr>
            <tr id="component">
                <td>
                    <label>Component:</label>
                </td>
                <td>
                    <input id="componentSelection" class="easyui-combogrid" style="width:200px;" data-options="
                    loadMsg:'Loading',
                    idField: 'ID',
                    textField: 'Description',
                    url: '/TPODownTimeEntry/GetEquipmentComponentByGroupResult',
                    method: 'get',
                    columns: [[
                    {field:'Description',title:'Component',width:100}
                    ]],onSelect: componentSelected,
                    fitColumns: true">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Comments:</label>
                </td>
                <td>
                    <textarea id="commentDT" rows="4" cols="50"></textarea>
                </td>
            </tr>
        </table>
        <br />
        <span class="col-lg-offset-3">
            <button class="btn btn-success btn-shadow"
                    onclick="saveRwProd(); return false;">
                <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Save
            </button>
            <button class="btn btn-default btn-shadow"
                    onclick="$('#dlgRwProdEdit').dialog('close');return false;">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
            </button>
        </span>
    </div>

    <script type="text/javascript">
        var rwProdUrlSet = false;
        var rwDlgUrlsSet = false;

        $(document).ready(function()
        {
            createReworkProdGrid();
            createRwProdEditDialog();
        });
        function createReworkProdGrid()
        {
            $("#dgReworkProd").datagrid(
                {
                    idField: 'Id',
                    onDblClickRow: rwProdRowDblClicked,
                    columns: [[
                        { field: 'Id', hidden: true },
                        {field:'PlantId',hidden:true},
                        {field:'WorkOrderID',hidden:true},
                        {field:'TypeID',hidden:true},
                        {field:'ShiftID',hidden:true},
                        {field:'ProductionDate', title:'Production Date', formatter: formatDate},
                        {field:'DateEntered',hidden:true},
                        {field:'EnteredBy',hidden:true},
                        {field:'LastModified',hidden:true},
                        {field:'ModifiedBy',hidden:true}
                    ]]
                });
        }
        function createRwProdEditDialog()
        {
            $('#dlgRwProdEdit').dialog(
                {
                    autoOpen: false,
                    modal: true
                });
        }
        function setRwProdUrl()
        {
            if (!rwProdUrlSet) {
                $('#dgReworkProd').datagrid(
                    {
                        url: '/ReworkProductionEntry/',
                        method: 'get',
                        queryParams:
                            {
                                lineID: @Model.ProductionLineId
                            }
                    });
                rwProdUrlSet = true;
            }
        }
        function rwProdRowDblClicked(rowIndex, rowData)
        {
            displayEditRwProd(rowData);
        }
        function displayEditRwProd(rowData)
        {
            bindRwProd(rowData);
            if (!rwDlgUrlsSet)
            {
                //set dialog urls
                rwDlgUrlsSet = true;
            }
            $('#dlgRwProdEdit').dialog('open');
        }
        function bindRwProd(rwProd)
        {
            $('#rwID').val(rwProd.Id);
            $('#rwPlantID').val(rwProd.PlantId);
            $("#rwWorkOrderID").val(rwProd.WorkOrderID);
            $('#rwTypeID').val(rwProd.TypeID);
            $('#rwShiftID').val(rwProd.ShiftID);
            $('#rwProdDate').datebox('setValue', formatDate(rwProd.ProductionDate));
            $('#rwDateEntered').datebox('setValue', formatDate(rwProd.DateEntered));
            $('#rwLastModified').datebox('setValue', formatDate(rwProd.LastModified));
            $('#rwEnteredBy').val(rwProd.EnteredBy);
            $('#rwModifiedBy').val(rwProd.ModifiedBy);
        }
        function getRwProd()
        {
            var rwProd = 
                {
                    "Id": $('#rwID').val(),
                    "PlantId": $('#rwPlantID').val(),
                    "WorkOrderID": $('#rwWorkOrderID').val(),
                    "TypeID": $('#rwTypeID').val(),
                    "ShiftID": $('#rwShiftID').val(),
                    "ProductionDate": $('#rwProdDate').datebox('getValue'),
                    "DateEntered": $('#rwDateEntered').datebox('getValue'),
                    "LastModified": $('#rwLastModified').datebox('getValue'),
                    "EnteredBy": $('#rwEnteredBy').val(),
                    "ModifiedBy": $('#rwModifiedBy').val()
                };
            return rwProd;
        }
        function saveRwProd()
        {
            showLoadingDialog();

            $.ajax(
                {
                    url: '/ProductionEntryController/UpdateReworkAction',
                    method: 'post',
                    data: getRwProd,
                    success: function(data)
                    {
                        $('#dlgRwProdEdit').dialog('close');
                    },
                    error: function()
                    {

                    },
                    complete: function()
                    {
                        closeLoadingDialog();
                    }
                });
        }
        function deleteRwProd()
        {

        }
    </script>
}